{% extends "user/base.html" %}
{% load static %}
{% block content %}

	<main class="bg_gray">
		<div class="top_banner general">
			<div class="opacity-mask d-flex align-items-md-center" data-opacity-mask="rgba(0, 0, 0, 0.1)">
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-lg-8 col-md-6 text-end">
							<h1 style="color: white;">Our Journey with Flavor <br>The Story of Fawz</h1>
						</div>
					</div>
				</div>
			</div>
			<img src="{%asset/Fawz  FB Cover 2.jpg" class="img-fluid" alt="">
		</div>
		<!--/top_banner-->
		
		<div class="bg_white">
		<div class="container margin_90_0">
			<div class="row justify-content-between align-items-center flex-lg-row-reverse content_general_row">
				<div class="col-lg-5 text-center">
					<figure><img src="img/about_placeholder.jpg" data-src="img/about_1.svg" alt="" class="img-fluid lazy" width="350" height="268"></figure>
				</div>
				<div class="col-lg-6">
					<h2>Introduction</h2>
					<!-- <p class="lead">Eu qui mundi lucilius petentium, mea amet libris prodesset in.</p> -->
					<p>Introduction to Fried Masala Powder: <br>
						Start with an introduction to what fried masala powder is, its importance in cooking, and how it enhances the flavor of various dishes. <br>
						
						History and Origins: <br>
						Research and share the history and origins of different fried masala powders from various cuisines. This could include information about traditional recipes, regional variations, and cultural significance. <br>
						
						Basic Ingredients: <br>
						Create a detailed guide to the essential ingredients that go into making fried masala powder. Explain their flavors, benefits, and how they contribute to the overall taste.<br>
						
						Step-by-Step Recipe: <br>
						Provide a comprehensive step-by-step guide on how to make fried masala powder at home. Include clear instructions, measurements, and tips for achieving the best results. <br>
						
						
						</p>
				</div>
			</div>
			
			<div class="row justify-content-between align-items-center flex-lg-row-reverse content_general_row">
				<div class="col-lg-5 text-center">
					<figure><img src="img/about_placeholder.jpg" data-src="img/about_2.svg" alt="" class="img-fluid lazy" width="350" height="316"></figure>
				</div>
				<div class="col-lg-6">
					<h2>Our Quality</h2>
					<!-- <p class="lead">Eu qui mundi lucilius petentium, mea amet libris prodesset in.</p> -->
					<p>Thorough Research: <br>
						Before creating any content, conduct thorough research to ensure accuracy and credibility. Make sure your information about ingredients, techniques, and cultural context is well-founded.<br>
						
						Originality:<br>
						Provide unique insights, tips, and perspectives that aren't readily available on other websites. Original content will attract and retain visitors who are looking for something fresh and valuable.<br>
						
						Clear and Engaging Writing:<br>
						Write in a clear, concise, and engaging manner. Avoid jargon and complicated language. Use headings, bullet points, and images to break up text and make it more visually appealing.<br>
						
						Visual Appeal:<br>
						Incorporate high-quality images and even videos to enhance the visual appeal of your content. Show the process of making the masala powder, the ingredients used, and the final dishes.<br>
						
						</p>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--/container-->
			
		</div>
		<!--/bg_white-->
		<div id="carousel-home">
			<div class="owl-carousel owl-theme">
				<div class="owl-slide cover" style="background-image: url({%asset/Fawz\ \ FB\ Cover\ 2.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-7 static">
									<div class="slide-text white">
										<h2 class="owl-slide-animated owl-slide-title">Passion on a Plate <br> The Inspiration Behind Fawz</h2>
										<p class="owl-slide-animated owl-slide-subtitle">
											<em>Awesome Experience</em>
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url({%asset/Fawz\ \ FB\ Cover\ 2.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url({%asset/Fawz\ \ FB\ Cover\ 2.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(255, 255, 255, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								
							</div>
						</div>
					</div>
					<!--/owl-slide-->
				</div>
			</div>
			<div id="icon_drag_mobile"></div>
		</div>
		<!--/carousel-->
	</main>
	<!--/main-->
	
{% endblock content %}