{% extends "User/base.html" %}
{% load static %}
{% block content %}

	<main>
	    <div class="container margin_30">
	        <!-- <div class="countdown_inner">-20% This offer ends in <div data-countdown="2019/05/15" class="countdown"></div>
	        </div> -->
	        <div class="row">
	            <div class="col-md-6">
	                <div class="all">
	                    <div class="slider">
	                        <div class="owl-carousel owl-theme main">
	                            <div style="background-image: url('{{ product.image.url }}');" class="item-box"></div>
								{% if product.image_two %}
									<div style="background-image: url('{{ product.image_two.url }}');" class="item-box"></div>
								{% endif %}

	                        </div>
	                        <div class="left nonl"><i class="ti-angle-left"></i></div>
	                        <div class="right"><i class="ti-angle-right"></i></div>
	                    </div>
	                    <div class="slider-two">
	                        <div class="owl-carousel owl-theme thumbs">
	                            <div style="background-image: url('{{ product.image.url }}');" class="item active"></div>
								{% if product.image_two %}
	                            	<div style="background-image: url('{{ product.image_two.url }}');" class="item"></div>
								{% endif %}
	                        </div>
	                        <div class="left-t nonl-t"></div>
	                        <div class="right-t"></div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 mainq" >
	                
	                <div class="prod_info">
	                    <h1>{{ product.name }}</h1>
	                    <!-- Display the total rating using a container element -->
    					<div class="star-rating" data-rating="{{ total_rating }}"></div>
						<em>{{ review_count }} reviews</em>
	                    <p>{{ product.description }} </p>
						 
	                    
	                    <div class="row">
	                        <div class="col-lg-5 col-md-6">
	                            <div class="price_main"><span class="new_price">AUD {{ product.actual_price }}</span></div>
	                        </div>
	                        <div class="col-lg-4 col-md-6">
	                            <div class="btn_add_to_cart"><a href="{% url 'add_to_cart_two' product.id %}" class="btn_1">Add to Cart</a></div>
	                        </div>
	                    </div>
						
	                </div>
	                <!-- /prod_info -->
	                <div class="product_actions">
	                    <ul>
	                        <!-- <li>
	                            <a href="#"><i class="ti-heart"></i><span>Add to Wishlist</span></a>
	                        </li> -->
	                        <!-- <li>
	                            <a href="#"><i class="ti-control-shuffle"></i><span>Add to Compare</span></a>
	                        </li> -->
	                    </ul>
	                </div>
	                <!-- /product_actions -->
	            </div>
	        </div>
	        <!-- /row -->
	    </div>
	    <!-- /container -->
	    
	    <div class="tabs_product">
	        <div class="container">
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab" role="tab">Description</a>
	                </li>
	                <li class="nav-item">
	                    <a id="tab-B" href="#pane-B" class="nav-link" data-bs-toggle="tab" role="tab">Reviews</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- /tabs_product -->
	    <div class="tab_content_wrapper">
	        <div class="container">
	            <div class="tab-content" role="tablist">
	                <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
	                    <div class="card-header" role="tab" id="heading-A">
	                        <h5 class="mb-0">
	                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-A" aria-expanded="false" aria-controls="collapse-A">
	                                Description
	                            </a>
	                        </h5>
	                    </div>
	                    <div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
	                        <div class="card-body">
	                            <div class="row justify-content-between">
	                                <div class="col-lg-6">
	                                    <h3>Details</h3>
	                                    <p>Experience the art of flavor transformation with our exquisite Fried Chicken Masala. Crafted with a blend of aromatic spices and seasonings, our masala is meticulously designed to take your fried chicken dishes to new heights of taste and indulgence. <br> <br>

											Indulge in the perfect balance of flavors as our Fried Chicken Masala coats each succulent piece of chicken, infusing it with an irresistible combination of warmth, depth, and a hint of zesty charm. From the first bite to the last, our masala creates a symphony of sensations that dance on your taste buds. <br> <br>
											
											Our blend is not just a mix of ingredients; it's a masterpiece carefully curated to capture the essence of culinary traditions. Whether you prefer a mild, medium, or fiery kick, our Fried Chicken Masala allows you to customize your fried chicken experience, ensuring that every dish you create is uniquely yours. <br> <br>
											
											</p>
	                                </div>
	                                
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <!-- /TAB A -->
	                <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
	                    <div class="card-header" role="tab" id="heading-B">
	                        <h5 class="mb-0">
	                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
	                                Reviews
	                            </a>
	                        </h5>
	                    </div>
	                    <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
	                        <div class="card-body">
	                            <div class="row justify-content-between">

									{% for review in review %}
										<div class="col-lg-6">
											<div class="review_content">
												<div class="clearfix add_bottom_10">
													{% if review.rating == 1  %}
														<span class="rating"><i class="icon-star "></i><i class="icon-star empty"></i><i class="icon-star empty"></i><i class="icon-star empty"></i><i class="icon-star empty"></i><em></em></span>
													{% elif review.rating == 2 %}
														<span class="rating"><i class="icon-star "></i><i class="icon-star"></i><i class="icon-star empty"></i><i class="icon-star empty"></i><i class="icon-star empty"></i><em></em></span>
													{% elif review.rating == 3 %}
														<span class="rating"><i class="icon-star "></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star empty"></i><i class="icon-star empty"></i><em></em></span>
													{% elif review.rating == 4 %}
														<span class="rating"><i class="icon-star "></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star empty"></i><em></em></span>
													{% elif review.rating == 5 %}
														<span class="rating"><i class="icon-star "></i><i class="icon-star "></i><i class="icon-star "></i><i class="icon-star "></i><i class="icon-star"></i><em></em></span>
													{% endif %}
													<em>{{ review.created_at }}</em>
												</div>
												<p style="font-size: large;">{{ review.user }}</p>
												<h4>{{ review.head }}</h4>
												<p>{{ review.comment }}</p>
											</div>
										</div>
									{% endfor %}
	                                
									
	                            </div>
	                            <!-- /row -->
	                            
	                            <!-- /row -->
								{% if existing_review %}
									<p class="text-end"><a href="{% url 'edit_review' product.id existing_review.id %}" class="btn_1">Edit review</a></p>

								{% else %}
	                            	<p class="text-end"><a href="{% url 'add_review' product.id %}" class="btn_1">Leave a review</a></p>
								{% endif %}
	                        </div>
	                        <!-- /card-body -->
	                    </div>
	                </div>
	                <!-- /tab B -->
	            </div>
	            <!-- /tab-content -->
	        </div>
	        <!-- /container -->
	    </div>
	    <!-- /tab_content_wrapper -->

	    

	    <div class="feat">
			<div class="container">
				<ul>
					<li>
						<div class="box">
							<i class="ti-gift"></i>
							<div class="justify-content-center">
								<h3>Free Shipping</h3>
								<p>For all oders over $99</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-wallet"></i>
							<div class="justify-content-center">
								<h3>Secure Payment</h3>
								<p>100% secure payment</p>
							</div>
						</div>
					</li>
					<li>
						<div class="box">
							<i class="ti-headphone-alt"></i>
							<div class="justify-content-center">
								<h3>24/7 Support</h3>
								<p>Online top support</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--/feat-->

	</main>
	<!-- /main -->

	
    <!-- Include JavaScript to dynamically display the star rating -->
      
	<script>
        document.addEventListener("DOMContentLoaded", function () {
            const starRatingContainers = document.querySelectorAll(".star-rating");

            starRatingContainers.forEach(container => {
                const rating = parseFloat(container.getAttribute("data-rating"));
                const stars = "★★★★★".slice(0, rating);

                container.textContent = stars;
            });
        });
    </script>
	<style>
		.mainq {
			margin-top: 118px;
		}
		@media (max-width: 992px) {
			.mainq {
			margin-top: 0px;
		}
		}

		.star-rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            color: gold; /* Set the color to yellow */
            display: inline-block; /* Display the stars in a line */
            vertical-align: middle; /* Vertically align the stars */
        }
	</style>


	
	{% endblock content %}